
.dashboard-overview-title p {
    padding-top: 0.2rem;
    font-size: 60px;
    color: rgb(189, 131, 185);
    margin-left: 200px;
  }
  
  .dashboard-overview {
    text-align: center;
    margin-top: 1.2rem;
    width: 31.5rem;
    height: 6rem;
    margin-left: 220px;
    width:1000px;
  }
  
  .dashboard-overview-layer0 {
    border-radius: 1rem;
    background-color: #d3b4b4a7;
  }
  
  .dashboard-overview-layer1 {
    width: 50%;
    height: 1rem;
    border-radius: 1.2rem;
    background-color: #719d93b6;
  }
  
  .boundary-line {
    position: absolute;
    height: 2%;
    border-left: 2px solid rgb(167, 94, 94);
    left: 70%;
    margin-top: -16px;
  }
  
  .boundary-number {
    margin-top: 0.4rem;
    font-size: 1.3rem;
    color: #555;
    margin-left: 610px;
  }
  
  .dashboard-m {
    text-align: right;
    font-size: 1.3rem;
    color: #555;
  }
  
  /* table */
  .table-year {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .block-row {
    color: rgb(130, 34, 34);
    font-size: 2.5rem;
  }
  
  .course-row {
    background-color: #4c8194a7;
  }
  
  .course-row {
    color: rgb(168, 105, 105);
    font-size: 1rem;
  }
  
  .result-row {
    background-color: #b4cef2a7;
    font-size: 1.2rem;
  }