body {
  margin: 0;
  padding: 0;
  width: 100%;
}
nav {
  position: sticky;
  top: 0;
  z-index: 800; 
}
.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: left;
  background-color: #6e9cba;
}

.navbar-link img {
  height: 30px;
  vertical-align: middle;
}

.navbar-menu li {
  float: left;
}

.navbar-link {
  color: white;
  font-size: 25px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.navbar-link:hover:not(.active) {
  background-color: #2980b9;
  color: white;
}

.active {
  background-color: #266c97;
  color:white;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: rgb(178, 178, 178);
  margin-top: 100px;
}

.grid-item {
  text-align: center;
  font-size: 30px;
}
.grid-title {
  font-weight: bold;
  font-size: 20px;
  color: #113852;
}
.hz-icon {
  margin-top: 70px;
  max-width: 50%;
  height: auto;
}
.grid-words {
  font-size: 15px;
  color: white;
}

footer {
  text-align: center;
}