body {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* this is navbar */

nav {
  position: sticky;
  top: 0;
  z-index: 800; 
}
.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: left;
  background-color: #e7edf0;
  margin-top: -16px;
}

.navbar-link img {
  height: 28px;
  vertical-align: middle;
}

.navbar-menu li {
  float: left;
  position: relative; 
}

.navbar-link {
  color: rgb(7, 32, 53);
  font-size: 25px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-link:hover:not(.active) {
  background-color: #4489b8;
  color: white;
}

.active {
  background-color: #4489b8;
  color:white;
  font-weight: bold;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* this is the footer */

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: rgb(178, 178, 178);
  margin-top: 100px;
}

.grid-item {
  text-align: center;
  font-size: 30px;
}
.grid-item a {
  text-decoration: none
}
.grid-title {
  font-weight: bold;
  font-size: 20px;
  color: #113852;
}
.hz-icon {
  margin-top: 70px;
  max-width: 50%;
  height: auto;
}
.grid-words {
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
}
.grid-words a {
  text-decoration: none;
  color: white;
}
.grid-words a:hover,a.active {
    color: #bee9ee;
    border-bottom: 2px solid #fbfeff;
}
.grid-contact img {
  width:30px;
}

footer {
  text-align: center;
}