.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: left;
  background-color: #3498db;
  margin: 0;
  padding: 0;
}

.navbar-link img {
  height: 30px;
  vertical-align: middle;
}

ul li {
  float: left;
}

.navbar-link {
  color: white;
  font-size: 25px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.navbar-link:hover:not(.active) {
  background-color: #2980b9;
  color: white;
}

.active {
  background-color: #1c5980;
  color:white;
  font-weight: bold;
}