body {
  background-color:white;
  margin: 0;
}
nav {
  background-color: #d6c8ccac;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  flex: 1;
  text-align: center;
}

nav ul li a {
  color: rgb(223, 140, 140);
  font-size: 40px;
}

nav ul li a:hover {
  background-color: #aaa0a0;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
li {
  flex: 1;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 20px;
  background-color: #ae5d22;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #8c471a;
} */